.row{
  padding: 1px;
}
.row:hover{
  line-height: 3.0;
  color: aliceblue;
  background-color: orange;
}

.left{
  padding: 20px;
  line-height: 1;
  background-color: antiquewhite;
}

#right{
  padding: 20px;
}
